
<ng-container>
  <div>
      <button routerLink=".." mat-icon-button color="accent">
          <mat-icon>arrow_back</mat-icon>
      </button>
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
      <mat-card class="center-card" *ngIf="course" style="width: 500px;">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>{{course.name}}</mat-card-title>
                  <mat-card-subtitle style="margin-bottom: 10px;">Comisión: {{course.id}}</mat-card-subtitle>
                  <mat-card-subtitle style="margin-bottom: 20px; color:black">{{course.description}}</mat-card-subtitle>
                  <mat-card-subtitle style="margin-bottom: 20px; color:#fff">{{course.description}}</mat-card-subtitle>
                  
                  
              
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>
  </div>
</ng-container>